<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Apps and snacks</th>
      <th>Breakfast and brunch</th>
      <th>Dinner</th>
      <th>Desserts</th>
      <th>Drinks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.apps_and_snacks %></td>
        <td><%= category.breakfast_and_brunch %></td>
        <td><%= category.dinner %></td>
        <td><%= category.desserts %></td>
        <td><%= category.drinks %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
