<p id="notice"><%= notice %></p>

<p>
  <strong>Apps and snacks:</strong>
  <%= @category.apps_and_snacks %>
</p>

<p>
  <strong>Breakfast and brunch:</strong>
  <%= @category.breakfast_and_brunch %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @category.dinner %>
</p>

<p>
  <strong>Desserts:</strong>
  <%= @category.desserts %>
</p>

<p>
  <strong>Drinks:</strong>
  <%= @category.drinks %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
